####  load dataset

In [31]:
from  pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import countDistinct
from pyspark.sql import functions as f
# from pyspark.sql.functions import isNull
from pyspark.sql.functions import col, udf ,desc
import pyspark.sql.types as t
from pyspark.sql.types import *

In [4]:
spark=SparkSession.builder.appName("mycsv_file").getOrCreate()

* read csv file

In [5]:
df= spark .read.csv("ecommerce_customer_data_large.csv" ,header=True)

* show our data set

In [6]:
df.show()
df.count()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+-------+--------------+---+------+-----+
|Customer ID|      Purchase Date|Product Category|Product Price|Quantity|Total Purchase Amount|Payment Method|Customer Age|Returns| Customer Name|Age|Gender|Churn|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+-------+--------------+---+------+-----+
|      44605|2023-05-03 21:30:02|            Home|          177|       1|                 2427|        PayPal|          31|    1.0|   John Rivera| 31|Female|    0|
|      44605|2021-05-16 13:57:44|     Electronics|          174|       3|                 2448|        PayPal|          31|    1.0|   John Rivera| 31|Female|    0|
|      44605|2020-07-13 06:16:57|           Books|          413|       1|                 2345|   Credit Card|          31|    1.0|   John Rivera| 31|Female|    0|
|      44605|2023-01-17 13:14:36|     Electronics|          396|       3|                  937|          Cash|          31|    0.0|   John Rivera| 31|Female|    0|
|      44605|2021-05-01 11:29:27|           Books|          259|       4|                 2598|        PayPal|          31|    1.0|   John Rivera| 31|Female|    0|
|      13738|2022-08-25 06:48:33|            Home|          191|       3|                 3722|   Credit Card|          27|    1.0|Lauren Johnson| 27|Female|    0|
|      13738|2023-07-25 05:17:24|     Electronics|          205|       1|                 2773|   Credit Card|          27|   NULL|Lauren Johnson| 27|Female|    0|
|      13738|2023-02-05 19:31:48|           Books|          370|       5|                 1486|          Cash|          27|    1.0|Lauren Johnson| 27|Female|    0|
|      13738|2021-12-21 03:29:05|            Home|           12|       2|                 2175|          Cash|          27|   NULL|Lauren Johnson| 27|Female|    0|
|      13738|2023-02-09 00:53:14|     Electronics|           40|       4|                 4327|          Cash|          27|    0.0|Lauren Johnson| 27|Female|    0|
|      33969|2023-02-28 19:58:23|        Clothing|          410|       3|                 5018|   Credit Card|          27|   NULL|   Carol Allen| 27|  Male|    0|
|      33969|2023-01-05 11:15:27|            Home|          304|       1|                 3883|        PayPal|          27|    1.0|   Carol Allen| 27|  Male|    0|
|      33969|2023-07-18 23:36:50|           Books|           54|       2|                 4187|        PayPal|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2021-12-20 23:44:57|     Electronics|          428|       4|                 2289|          Cash|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2020-03-07 21:31:35|           Books|          281|       1|                 3810|          Cash|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2022-07-21 04:25:44|            Home|          193|       2|                 3198|   Credit Card|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2023-07-05 15:01:04|        Clothing|          473|       3|                 2881|   Credit Card|          27|    1.0|   Carol Allen| 27|  Male|    0|
|      42650|2020-10-18 23:38:52|           Books|          127|       5|                 3347|          Cash|          20|    0.0|  Curtis Smith| 20|Female|    0|
|      42650|2020-05-17 17:02:36|            Home|          284|       2|                 3531|   Credit Card|          20|    1.0|  Curtis Smith| 20|Female|    0|
|      42650|2022-03-18 13:52:08|     Electronics|          256|       2|                 3548|   Credit Card|          20|    0.0|  Curtis Smith| 20|Female|    0|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+-------+--------------+---+------+-----+
only showing top 20 rows

250000

In [7]:
df.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- Purchase Date: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Product Price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Total Purchase Amount: string (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Customer Age: string (nullable = true)
 |-- Returns: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Churn: string (nullable = true)

#### EDA

* let's detect null vaules

In [8]:
df.describe().show()

+-------+-----------------+-------------------+----------------+----------------+-----------------+---------------------+--------------+-----------------+------------------+---------------+-----------------+------+------------------+
|summary|      Customer ID|      Purchase Date|Product Category|   Product Price|         Quantity|Total Purchase Amount|Payment Method|     Customer Age|           Returns|  Customer Name|              Age|Gender|             Churn|
+-------+-----------------+-------------------+----------------+----------------+-----------------+---------------------+--------------+-----------------+------------------+---------------+-----------------+------+------------------+
|  count|           250000|             250000|          250000|          250000|           250000|               250000|        250000|           250000|            202618|         250000|           250000|250000|            250000|
|   mean|     25017.632092|               NULL|            NULL|      254.742724|         3.004936|          2725.385196|          NULL|        43.798276| 0.500824211077002|           NULL|        43.798276|  NULL|           0.20052|
| stddev|14412.51571838549|               NULL|            NULL|141.738104078686|1.414736598036032|   1442.5760947288684|          NULL|15.36491509089092|0.5000005545274467|           NULL|15.36491509089092|  NULL|0.4003902731704199|
|    min|                1|2020-01-01 00:07:26|           Books|              10|                1|                  100|          Cash|               18|               0.0|Aaron Alexander|               18|Female|                 0|
|    max|             9999|2023-09-13 18:42:49|            Home|              99|                5|                  999|        PayPal|               70|               1.0|      Zoe Young|               70|  Male|                 1|
+-------+-----------------+-------------------+----------------+----------------+-----------------+---------------------+--------------+-----------------+------------------+---------------+-----------------+------+------------------+

In [9]:
df= df.withColumnRenamed("Product Category","Product_Category")
df= df.withColumnRenamed("Total Purchase Amount","Total_Purchase_Amount")
df= df.withColumnRenamed("Total Purchase Amount","Total_Purchase_Amount")
df= df.withColumnRenamed("Customer Age","Customer_Age")
df= df.withColumnRenamed("Customer Name","Customer_Name")
df= df.withColumnRenamed("Product Price","Product_price")
df.show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+-------+--------------+---+------+-----+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age|Returns| Customer_Name|Age|Gender|Churn|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+-------+--------------+---+------+-----+
|      44605|2023-05-03 21:30:02|            Home|          177|       1|                 2427|        PayPal|          31|    1.0|   John Rivera| 31|Female|    0|
|      44605|2021-05-16 13:57:44|     Electronics|          174|       3|                 2448|        PayPal|          31|    1.0|   John Rivera| 31|Female|    0|
|      44605|2020-07-13 06:16:57|           Books|          413|       1|                 2345|   Credit Card|          31|    1.0|   John Rivera| 31|Female|    0|
|      44605|2023-01-17 13:14:36|     Electronics|          396|       3|                  937|          Cash|          31|    0.0|   John Rivera| 31|Female|    0|
|      44605|2021-05-01 11:29:27|           Books|          259|       4|                 2598|        PayPal|          31|    1.0|   John Rivera| 31|Female|    0|
|      13738|2022-08-25 06:48:33|            Home|          191|       3|                 3722|   Credit Card|          27|    1.0|Lauren Johnson| 27|Female|    0|
|      13738|2023-07-25 05:17:24|     Electronics|          205|       1|                 2773|   Credit Card|          27|   NULL|Lauren Johnson| 27|Female|    0|
|      13738|2023-02-05 19:31:48|           Books|          370|       5|                 1486|          Cash|          27|    1.0|Lauren Johnson| 27|Female|    0|
|      13738|2021-12-21 03:29:05|            Home|           12|       2|                 2175|          Cash|          27|   NULL|Lauren Johnson| 27|Female|    0|
|      13738|2023-02-09 00:53:14|     Electronics|           40|       4|                 4327|          Cash|          27|    0.0|Lauren Johnson| 27|Female|    0|
|      33969|2023-02-28 19:58:23|        Clothing|          410|       3|                 5018|   Credit Card|          27|   NULL|   Carol Allen| 27|  Male|    0|
|      33969|2023-01-05 11:15:27|            Home|          304|       1|                 3883|        PayPal|          27|    1.0|   Carol Allen| 27|  Male|    0|
|      33969|2023-07-18 23:36:50|           Books|           54|       2|                 4187|        PayPal|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2021-12-20 23:44:57|     Electronics|          428|       4|                 2289|          Cash|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2020-03-07 21:31:35|           Books|          281|       1|                 3810|          Cash|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2022-07-21 04:25:44|            Home|          193|       2|                 3198|   Credit Card|          27|    0.0|   Carol Allen| 27|  Male|    0|
|      33969|2023-07-05 15:01:04|        Clothing|          473|       3|                 2881|   Credit Card|          27|    1.0|   Carol Allen| 27|  Male|    0|
|      42650|2020-10-18 23:38:52|           Books|          127|       5|                 3347|          Cash|          20|    0.0|  Curtis Smith| 20|Female|    0|
|      42650|2020-05-17 17:02:36|            Home|          284|       2|                 3531|   Credit Card|          20|    1.0|  Curtis Smith| 20|Female|    0|
|      42650|2022-03-18 13:52:08|     Electronics|          256|       2|                 3548|   Credit Card|          20|    0.0|  Curtis Smith| 20|Female|    0|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+-------+--------------+---+------+-----+
only showing top 20 rows

#### checking null values in a specific column and handling missing values

* *RETURNS* column has 47K null values

In [10]:
# Count null values in a specific column
null_count = df.filter(df.Returns.isNull()).count()
null_count

47382

* Count null values in a other columns

In [11]:

null_count = df.filter(df.Customer_Age.isNull()).count()
null_count

0

In [12]:
# Count null values in a specific column
null_count = df.filter(df.Customer_Name.isNull()).count()
null_count

0

> drop two columns "unused columns" (Returns , Churn)

* we have dropped two columns and clean all nul values

In [13]:
df=df.drop("Returns")
df=df.drop("Churn")

* show table after drop two columns

In [14]:
df.show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age| Customer_Name|Age|Gender|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+
|      44605|2023-05-03 21:30:02|            Home|          177|       1|                 2427|        PayPal|          31|   John Rivera| 31|Female|
|      44605|2021-05-16 13:57:44|     Electronics|          174|       3|                 2448|        PayPal|          31|   John Rivera| 31|Female|
|      44605|2020-07-13 06:16:57|           Books|          413|       1|                 2345|   Credit Card|          31|   John Rivera| 31|Female|
|      44605|2023-01-17 13:14:36|     Electronics|          396|       3|                  937|          Cash|          31|   John Rivera| 31|Female|
|      44605|2021-05-01 11:29:27|           Books|          259|       4|                 2598|        PayPal|          31|   John Rivera| 31|Female|
|      13738|2022-08-25 06:48:33|            Home|          191|       3|                 3722|   Credit Card|          27|Lauren Johnson| 27|Female|
|      13738|2023-07-25 05:17:24|     Electronics|          205|       1|                 2773|   Credit Card|          27|Lauren Johnson| 27|Female|
|      13738|2023-02-05 19:31:48|           Books|          370|       5|                 1486|          Cash|          27|Lauren Johnson| 27|Female|
|      13738|2021-12-21 03:29:05|            Home|           12|       2|                 2175|          Cash|          27|Lauren Johnson| 27|Female|
|      13738|2023-02-09 00:53:14|     Electronics|           40|       4|                 4327|          Cash|          27|Lauren Johnson| 27|Female|
|      33969|2023-02-28 19:58:23|        Clothing|          410|       3|                 5018|   Credit Card|          27|   Carol Allen| 27|  Male|
|      33969|2023-01-05 11:15:27|            Home|          304|       1|                 3883|        PayPal|          27|   Carol Allen| 27|  Male|
|      33969|2023-07-18 23:36:50|           Books|           54|       2|                 4187|        PayPal|          27|   Carol Allen| 27|  Male|
|      33969|2021-12-20 23:44:57|     Electronics|          428|       4|                 2289|          Cash|          27|   Carol Allen| 27|  Male|
|      33969|2020-03-07 21:31:35|           Books|          281|       1|                 3810|          Cash|          27|   Carol Allen| 27|  Male|
|      33969|2022-07-21 04:25:44|            Home|          193|       2|                 3198|   Credit Card|          27|   Carol Allen| 27|  Male|
|      33969|2023-07-05 15:01:04|        Clothing|          473|       3|                 2881|   Credit Card|          27|   Carol Allen| 27|  Male|
|      42650|2020-10-18 23:38:52|           Books|          127|       5|                 3347|          Cash|          20|  Curtis Smith| 20|Female|
|      42650|2020-05-17 17:02:36|            Home|          284|       2|                 3531|   Credit Card|          20|  Curtis Smith| 20|Female|
|      42650|2022-03-18 13:52:08|     Electronics|          256|       2|                 3548|   Credit Card|          20|  Curtis Smith| 20|Female|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+
only showing top 20 rows

#### Groubing and Sorting

> sorting customer ID ascendingly

In [15]:
df=df.sort("Customer ID")
df.show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age| Customer_Name|Age|Gender|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+
|          1|2021-04-08 18:33:34|           Books|          456|       5|                 5148|   Credit Card|          67| Dominic Cline| 67|Female|
|          1|2022-11-29 06:48:25|     Electronics|          459|       5|                  757|   Credit Card|          67| Dominic Cline| 67|Female|
|          1|2020-03-04 10:26:02|        Clothing|          205|       5|                  385|          Cash|          67| Dominic Cline| 67|Female|
|         10|2022-07-06 12:30:15|           Books|          113|       5|                 4841|          Cash|          49|   Thomas Carr| 49|Female|
|         10|2022-04-06 21:29:32|           Books|          312|       5|                 1384|          Cash|          49|   Thomas Carr| 49|Female|
|         10|2023-02-16 01:17:01|     Electronics|          191|       3|                 1163|   Credit Card|          49|   Thomas Carr| 49|Female|
|         10|2022-01-31 00:29:16|     Electronics|          413|       4|                  994|   Credit Card|          49|   Thomas Carr| 49|Female|
|         10|2023-05-06 04:06:27|     Electronics|          182|       2|                 2635|          Cash|          49|   Thomas Carr| 49|Female|
|         10|2020-08-07 05:14:13|     Electronics|          284|       2|                 4272|          Cash|          49|   Thomas Carr| 49|Female|
|         10|2023-03-28 00:26:47|     Electronics|          437|       3|                 4086|          Cash|          49|   Thomas Carr| 49|Female|
|         10|2023-04-24 10:51:09|           Books|           50|       2|                 1297|        PayPal|          49|   Thomas Carr| 49|Female|
|        100|2022-07-30 11:01:23|            Home|          410|       5|                 1046|   Credit Card|          20|Maurice Miller| 20|Female|
|        100|2023-08-22 13:43:02|           Books|          432|       2|                 4494|          Cash|          20|Maurice Miller| 20|Female|
|        100|2021-09-27 16:40:23|        Clothing|          231|       3|                  539|   Credit Card|          20|Maurice Miller| 20|Female|
|        100|2021-01-28 02:07:08|           Books|           93|       5|                 3275|          Cash|          20|Maurice Miller| 20|Female|
|        100|2022-03-20 11:46:02|            Home|          418|       2|                 2771|          Cash|          20|Maurice Miller| 20|Female|
|        100|2023-08-22 12:49:06|     Electronics|          236|       5|                 3584|   Credit Card|          20|Maurice Miller| 20|Female|
|        100|2023-08-07 09:17:39|        Clothing|          256|       3|                 1979|        PayPal|          20|Maurice Miller| 20|Female|
|        100|2023-06-03 13:44:00|           Books|          499|       2|                 2262|          Cash|          20|Maurice Miller| 20|Female|
|       1000|2023-08-27 08:27:51|            Home|          330|       3|                 1731|          Cash|          60| Nathan Fields| 60|Female|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+
only showing top 20 rows

#### how many customer and how many category has been purchased for each customer

* most category used is home categories

In [16]:
amount_product=df.groupBy("Product_Category").agg(countDistinct("Customer ID").alias("amount product purchase")).show()
amount_product

+----------------+-----------------------+
|Product_Category|amount product purchase|
+----------------+-----------------------+
|            Home|                  35752|
|     Electronics|                  35713|
|        Clothing|                  35654|
|           Books|                  35504|
+----------------+-----------------------+

* removing dublicates for each customer and category

* show number of categories have been purchased by customers

In [17]:
df_dup=df.select(["Customer ID" , "Product_Category"]).distinct()
s=df_dup.sort("Customer ID")
s.show()

+-----------+----------------+
|Customer ID|Product_Category|
+-----------+----------------+
|          1|           Books|
|          1|        Clothing|
|          1|     Electronics|
|         10|           Books|
|         10|     Electronics|
|        100|        Clothing|
|        100|           Books|
|        100|            Home|
|        100|     Electronics|
|       1000|     Electronics|
|       1000|        Clothing|
|       1000|            Home|
|      10000|            Home|
|      10000|        Clothing|
|      10000|           Books|
|      10001|           Books|
|      10001|     Electronics|
|      10003|            Home|
|      10003|     Electronics|
|      10003|           Books|
+-----------+----------------+
only showing top 20 rows

* show number of customers in data set

In [18]:
df.select("Customer ID").distinct().count()

49661


#### What is the total price for each customer's purchase

* let us create column that returns total price of purchased product

In [19]:
df2=df.withColumn("Total_Purchace_Price", col("Product_Price")*col("Total_Purchase_Amount")).show()
df2

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+--------------------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age| Customer_Name|Age|Gender|Total_Purchace_Price|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+--------------------+
|          1|2021-04-08 18:33:34|           Books|          456|       5|                 5148|   Credit Card|          67| Dominic Cline| 67|Female|           2347488.0|
|          1|2022-11-29 06:48:25|     Electronics|          459|       5|                  757|   Credit Card|          67| Dominic Cline| 67|Female|            347463.0|
|          1|2020-03-04 10:26:02|        Clothing|          205|       5|                  385|          Cash|          67| Dominic Cline| 67|Female|             78925.0|
|         10|2022-07-06 12:30:15|           Books|          113|       5|                 4841|          Cash|          49|   Thomas Carr| 49|Female|            547033.0|
|         10|2022-04-06 21:29:32|           Books|          312|       5|                 1384|          Cash|          49|   Thomas Carr| 49|Female|            431808.0|
|         10|2023-02-16 01:17:01|     Electronics|          191|       3|                 1163|   Credit Card|          49|   Thomas Carr| 49|Female|            222133.0|
|         10|2022-01-31 00:29:16|     Electronics|          413|       4|                  994|   Credit Card|          49|   Thomas Carr| 49|Female|            410522.0|
|         10|2023-05-06 04:06:27|     Electronics|          182|       2|                 2635|          Cash|          49|   Thomas Carr| 49|Female|            479570.0|
|         10|2020-08-07 05:14:13|     Electronics|          284|       2|                 4272|          Cash|          49|   Thomas Carr| 49|Female|           1213248.0|
|         10|2023-03-28 00:26:47|     Electronics|          437|       3|                 4086|          Cash|          49|   Thomas Carr| 49|Female|           1785582.0|
|         10|2023-04-24 10:51:09|           Books|           50|       2|                 1297|        PayPal|          49|   Thomas Carr| 49|Female|             64850.0|
|        100|2022-07-30 11:01:23|            Home|          410|       5|                 1046|   Credit Card|          20|Maurice Miller| 20|Female|            428860.0|
|        100|2023-08-22 13:43:02|           Books|          432|       2|                 4494|          Cash|          20|Maurice Miller| 20|Female|           1941408.0|
|        100|2021-09-27 16:40:23|        Clothing|          231|       3|                  539|   Credit Card|          20|Maurice Miller| 20|Female|            124509.0|
|        100|2021-01-28 02:07:08|           Books|           93|       5|                 3275|          Cash|          20|Maurice Miller| 20|Female|            304575.0|
|        100|2022-03-20 11:46:02|            Home|          418|       2|                 2771|          Cash|          20|Maurice Miller| 20|Female|           1158278.0|
|        100|2023-08-22 12:49:06|     Electronics|          236|       5|                 3584|   Credit Card|          20|Maurice Miller| 20|Female|            845824.0|
|        100|2023-08-07 09:17:39|        Clothing|          256|       3|                 1979|        PayPal|          20|Maurice Miller| 20|Female|            506624.0|
|        100|2023-06-03 13:44:00|           Books|          499|       2|                 2262|          Cash|          20|Maurice Miller| 20|Female|           1128738.0|
|       1000|2023-08-27 08:27:51|            Home|          330|       3|                 1731|          Cash|          60| Nathan Fields| 60|Female|            571230.0|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+--------------------+
only showing top 20 rows

#### what most payment method used

In [20]:
pay_amount = df.groupBy("Payment Method").agg(countDistinct("Customer ID").alias("Payment Method amount")).show()
pay_amount

+--------------+---------------------+
|Payment Method|Payment Method amount|
+--------------+---------------------+
|   Credit Card|                40527|
|        PayPal|                40382|
|          Cash|                40548|
+--------------+---------------------+

* show each customer's payment method used

In [21]:
cust_pay_amount=df.groupBy("Customer ID").agg(countDistinct("Payment Method").alias("customer payment amount"))
cust_pay_amount.show()

+-----------+-----------------------+
|Customer ID|customer payment amount|
+-----------+-----------------------+
|       9583|                      3|
|      42370|                      2|
|      28334|                      2|
|      30966|                      3|
|      35374|                      3|
|       9030|                      3|
|      48402|                      3|
|       4032|                      2|
|      29865|                      3|
|      20219|                      3|
|      42688|                      3|
|       5925|                      3|
|       9009|                      3|
|      48147|                      2|
|      39457|                      3|
|      28503|                      2|
|      49290|                      3|
|      43085|                      3|
|      40740|                      3|
|      35670|                      3|
+-----------+-----------------------+
only showing top 20 rows

#### join new column

> let' join Customer Payment amount to our dataset

In [22]:
df2 = df.join(cust_pay_amount ,on="Customer ID" , how = "inner")
df2.show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age| Customer_Name|Age|Gender|customer payment amount|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+
|      44605|2023-05-03 21:30:02|            Home|          177|       1|                 2427|        PayPal|          31|   John Rivera| 31|Female|                      3|
|      44605|2021-05-16 13:57:44|     Electronics|          174|       3|                 2448|        PayPal|          31|   John Rivera| 31|Female|                      3|
|      44605|2020-07-13 06:16:57|           Books|          413|       1|                 2345|   Credit Card|          31|   John Rivera| 31|Female|                      3|
|      44605|2023-01-17 13:14:36|     Electronics|          396|       3|                  937|          Cash|          31|   John Rivera| 31|Female|                      3|
|      44605|2021-05-01 11:29:27|           Books|          259|       4|                 2598|        PayPal|          31|   John Rivera| 31|Female|                      3|
|      13738|2022-08-25 06:48:33|            Home|          191|       3|                 3722|   Credit Card|          27|Lauren Johnson| 27|Female|                      2|
|      13738|2023-07-25 05:17:24|     Electronics|          205|       1|                 2773|   Credit Card|          27|Lauren Johnson| 27|Female|                      2|
|      13738|2023-02-05 19:31:48|           Books|          370|       5|                 1486|          Cash|          27|Lauren Johnson| 27|Female|                      2|
|      13738|2021-12-21 03:29:05|            Home|           12|       2|                 2175|          Cash|          27|Lauren Johnson| 27|Female|                      2|
|      13738|2023-02-09 00:53:14|     Electronics|           40|       4|                 4327|          Cash|          27|Lauren Johnson| 27|Female|                      2|
|      33969|2023-02-28 19:58:23|        Clothing|          410|       3|                 5018|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|
|      33969|2023-01-05 11:15:27|            Home|          304|       1|                 3883|        PayPal|          27|   Carol Allen| 27|  Male|                      3|
|      33969|2023-07-18 23:36:50|           Books|           54|       2|                 4187|        PayPal|          27|   Carol Allen| 27|  Male|                      3|
|      33969|2021-12-20 23:44:57|     Electronics|          428|       4|                 2289|          Cash|          27|   Carol Allen| 27|  Male|                      3|
|      33969|2020-03-07 21:31:35|           Books|          281|       1|                 3810|          Cash|          27|   Carol Allen| 27|  Male|                      3|
|      33969|2022-07-21 04:25:44|            Home|          193|       2|                 3198|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|
|      33969|2023-07-05 15:01:04|        Clothing|          473|       3|                 2881|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|
|      42650|2020-10-18 23:38:52|           Books|          127|       5|                 3347|          Cash|          20|  Curtis Smith| 20|Female|                      3|
|      42650|2020-05-17 17:02:36|            Home|          284|       2|                 3531|   Credit Card|          20|  Curtis Smith| 20|Female|                      3|
|      42650|2022-03-18 13:52:08|     Electronics|          256|       2|                 3548|   Credit Card|          20|  Curtis Smith| 20|Female|                      3|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+
only showing top 20 rows

* classify Gender number

In [23]:
gender_amount = df2.groupBy("Gender").agg(countDistinct("Customer ID").alias("GenderclassNum")).show()
gender_amount

+------+--------------+
|Gender|GenderclassNum|
+------+--------------+
|Female|         24714|
|  Male|         24947|
+------+--------------+

In [24]:
gender_amount = df2.groupBy("Customer ID").agg(countDistinct("Purchase Date").alias("DistinctPurchaseDateCount"))
gender_amount.show()

+-----------+-------------------------+
|Customer ID|DistinctPurchaseDateCount|
+-----------+-------------------------+
|      39457|                        9|
|       9583|                        8|
|      21783|                        2|
|      27317|                       10|
|      35374|                        7|
|      40740|                        8|
|      28135|                        4|
|      42776|                        9|
|      28334|                        5|
|       1512|                        5|
|      16504|                        8|
|      35670|                        7|
|      32558|                        6|
|      29865|                        9|
|       9030|                       10|
|      49290|                        7|
|      17686|                        4|
|       9009|                        6|
|      43085|                        5|
|      20219|                        4|
+-----------+-------------------------+
only showing top 20 rows

* join DistinctPurchaseDateCount into df2 data set

In [25]:
df2 = df2.join(gender_amount ,on="Customer ID" , how = "inner")
df2.show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+-------------------------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age| Customer_Name|Age|Gender|customer payment amount|DistinctPurchaseDateCount|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+-------------------------+
|      44605|2023-05-03 21:30:02|            Home|          177|       1|                 2427|        PayPal|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2021-05-16 13:57:44|     Electronics|          174|       3|                 2448|        PayPal|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2020-07-13 06:16:57|           Books|          413|       1|                 2345|   Credit Card|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2023-01-17 13:14:36|     Electronics|          396|       3|                  937|          Cash|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2021-05-01 11:29:27|           Books|          259|       4|                 2598|        PayPal|          31|   John Rivera| 31|Female|                      3|                        5|
|      13738|2022-08-25 06:48:33|            Home|          191|       3|                 3722|   Credit Card|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2023-07-25 05:17:24|     Electronics|          205|       1|                 2773|   Credit Card|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2023-02-05 19:31:48|           Books|          370|       5|                 1486|          Cash|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2021-12-21 03:29:05|            Home|           12|       2|                 2175|          Cash|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2023-02-09 00:53:14|     Electronics|           40|       4|                 4327|          Cash|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      33969|2023-02-28 19:58:23|        Clothing|          410|       3|                 5018|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2023-01-05 11:15:27|            Home|          304|       1|                 3883|        PayPal|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2023-07-18 23:36:50|           Books|           54|       2|                 4187|        PayPal|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2021-12-20 23:44:57|     Electronics|          428|       4|                 2289|          Cash|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2020-03-07 21:31:35|           Books|          281|       1|                 3810|          Cash|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2022-07-21 04:25:44|            Home|          193|       2|                 3198|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2023-07-05 15:01:04|        Clothing|          473|       3|                 2881|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      42650|2020-10-18 23:38:52|           Books|          127|       5|                 3347|          Cash|          20|  Curtis Smith| 20|Female|                      3|                       13|
|      42650|2020-05-17 17:02:36|            Home|          284|       2|                 3531|   Credit Card|          20|  Curtis Smith| 20|Female|                      3|                       13|
|      42650|2022-03-18 13:52:08|     Electronics|          256|       2|                 3548|   Credit Card|          20|  Curtis Smith| 20|Female|                      3|                       13|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+-------------------------+
only showing top 20 rows

In [26]:
df2.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- Purchase Date: string (nullable = true)
 |-- Product_Category: string (nullable = true)
 |-- Product_price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Total_Purchase_Amount: string (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Customer_Age: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- customer payment amount: long (nullable = false)
 |-- DistinctPurchaseDateCount: long (nullable = false)

#### Rank With *Payment Method* and order by *customer ID*

In [27]:
from pyspark.sql.functions import row_number ,rank ,dense_rank
from pyspark.sql.window import Window

In [28]:
df2.show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+-------------------------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age| Customer_Name|Age|Gender|customer payment amount|DistinctPurchaseDateCount|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+-------------------------+
|      44605|2023-05-03 21:30:02|            Home|          177|       1|                 2427|        PayPal|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2021-05-16 13:57:44|     Electronics|          174|       3|                 2448|        PayPal|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2020-07-13 06:16:57|           Books|          413|       1|                 2345|   Credit Card|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2023-01-17 13:14:36|     Electronics|          396|       3|                  937|          Cash|          31|   John Rivera| 31|Female|                      3|                        5|
|      44605|2021-05-01 11:29:27|           Books|          259|       4|                 2598|        PayPal|          31|   John Rivera| 31|Female|                      3|                        5|
|      13738|2022-08-25 06:48:33|            Home|          191|       3|                 3722|   Credit Card|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2023-07-25 05:17:24|     Electronics|          205|       1|                 2773|   Credit Card|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2023-02-05 19:31:48|           Books|          370|       5|                 1486|          Cash|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2021-12-21 03:29:05|            Home|           12|       2|                 2175|          Cash|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      13738|2023-02-09 00:53:14|     Electronics|           40|       4|                 4327|          Cash|          27|Lauren Johnson| 27|Female|                      2|                        5|
|      33969|2023-02-28 19:58:23|        Clothing|          410|       3|                 5018|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2023-01-05 11:15:27|            Home|          304|       1|                 3883|        PayPal|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2023-07-18 23:36:50|           Books|           54|       2|                 4187|        PayPal|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2021-12-20 23:44:57|     Electronics|          428|       4|                 2289|          Cash|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2020-03-07 21:31:35|           Books|          281|       1|                 3810|          Cash|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2022-07-21 04:25:44|            Home|          193|       2|                 3198|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      33969|2023-07-05 15:01:04|        Clothing|          473|       3|                 2881|   Credit Card|          27|   Carol Allen| 27|  Male|                      3|                        7|
|      42650|2020-10-18 23:38:52|           Books|          127|       5|                 3347|          Cash|          20|  Curtis Smith| 20|Female|                      3|                       13|
|      42650|2020-05-17 17:02:36|            Home|          284|       2|                 3531|   Credit Card|          20|  Curtis Smith| 20|Female|                      3|                       13|
|      42650|2022-03-18 13:52:08|     Electronics|          256|       2|                 3548|   Credit Card|          20|  Curtis Smith| 20|Female|                      3|                       13|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------+---+------+-----------------------+-------------------------+
only showing top 20 rows

In [29]:
widow = Window.partitionBy("Payment Method").orderBy("Customer ID")
df2.withColumn("row number", row_number().over(widow)).show()

+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------------+---+------+-----------------------+-------------------------+----------+
|Customer ID|      Purchase Date|Product_Category|Product_price|Quantity|Total_Purchase_Amount|Payment Method|Customer_Age|       Customer_Name|Age|Gender|customer payment amount|DistinctPurchaseDateCount|row number|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------------+---+------+-----------------------+-------------------------+----------+
|          1|2021-04-08 18:33:34|           Books|          456|       5|                 5148|   Credit Card|          67|       Dominic Cline| 67|Female|                      2|                        3|         1|
|          1|2022-11-29 06:48:25|     Electronics|          459|       5|                  757|   Credit Card|          67|       Dominic Cline| 67|Female|                      2|                        3|         2|
|         10|2023-02-16 01:17:01|     Electronics|          191|       3|                 1163|   Credit Card|          49|         Thomas Carr| 49|Female|                      3|                        8|         3|
|         10|2022-01-31 00:29:16|     Electronics|          413|       4|                  994|   Credit Card|          49|         Thomas Carr| 49|Female|                      3|                        8|         4|
|        100|2021-09-27 16:40:23|        Clothing|          231|       3|                  539|   Credit Card|          20|      Maurice Miller| 20|Female|                      3|                        8|         5|
|        100|2023-08-22 12:49:06|     Electronics|          236|       5|                 3584|   Credit Card|          20|      Maurice Miller| 20|Female|                      3|                        8|         6|
|        100|2022-07-30 11:01:23|            Home|          410|       5|                 1046|   Credit Card|          20|      Maurice Miller| 20|Female|                      3|                        8|         7|
|       1000|2021-10-26 16:31:17|            Home|          209|       1|                 3228|   Credit Card|          60|       Nathan Fields| 60|Female|                      3|                        7|         8|
|      10000|2021-09-12 10:26:01|        Clothing|           63|       1|                 1052|   Credit Card|          61|           Eric Reed| 61|Female|                      3|                        7|         9|
|      10000|2021-08-17 12:36:00|            Home|          188|       4|                 2304|   Credit Card|          61|           Eric Reed| 61|Female|                      3|                        7|        10|
|      10000|2023-06-20 21:49:33|           Books|          250|       4|                 3706|   Credit Card|          61|           Eric Reed| 61|Female|                      3|                        7|        11|
|      10004|2020-10-30 18:59:58|     Electronics|           90|       1|                 2571|   Credit Card|          31|      Matthew Sawyer| 31|  Male|                      3|                        4|        12|
|      10004|2021-01-24 06:10:14|        Clothing|           81|       1|                 3533|   Credit Card|          31|      Matthew Sawyer| 31|  Male|                      3|                        4|        13|
|      10005|2021-01-05 05:21:43|        Clothing|          229|       1|                 3603|   Credit Card|          70|   Ronnie Richardson| 70|  Male|                      3|                        7|        14|
|      10005|2021-11-04 09:19:00|           Books|          397|       3|                 1703|   Credit Card|          70|   Ronnie Richardson| 70|  Male|                      3|                        7|        15|
|      10006|2021-03-11 22:46:20|           Books|          164|       2|                 4325|   Credit Card|          35|        Cynthia Long| 35|Female|                      2|                        3|        16|
|      10008|2022-06-07 05:55:18|        Clothing|          438|       2|                 3341|   Credit Card|          19|     Alexandra Clark| 19|Female|                      3|                        5|        17|
|      10008|2020-04-05 01:51:29|     Electronics|          288|       2|                 4233|   Credit Card|          19|     Alexandra Clark| 19|Female|                      3|                        5|        18|
|      10009|2023-05-01 19:49:43|           Books|          393|       4|                 4391|   Credit Card|          47|        John Sanders| 47|  Male|                      3|                        4|        19|
|      10010|2022-04-01 02:50:17|            Home|          422|       5|                 3906|   Credit Card|          49|Mrs. Melissa Winters| 49|Female|                      2|                        6|        20|
+-----------+-------------------+----------------+-------------+--------+---------------------+--------------+------------+--------------------+---+------+-----------------------+-------------------------+----------+
only showing top 20 rows